
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.68rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 25px 25px;
  
}

.items {
  height: 67%;
  overflow-y: auto;
}

.container {
  background: white;
  height: 700px;
  min-width: 280px;
  border-radius: 10px;
}

.formContainer {
  display:flex;
  flex-direction: column;
  height: 67%;
  justify-content: space-between;
  padding: 25px;
}

.field {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: bold;
  margin: 20px 0;
}

.field2 {
  width : 100px;
  margin: 20px 0;
}

.fieldCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputField {
  background: rgba(241, 238, 238, 0.466);
  height: 37px;
  border: none;
  padding: 10px 15px;
  color: rgb(173, 171, 171);
  font-weight: bold;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.buttonContainer {
  background:#65e892;
  width: 210px;
  padding: 14px 0px;
  border: none;
  border-radius: 15px;
  color: white;
  text-align: center;
  display: block;
  margin: 50px auto;
  
}
