.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.68rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 25px 25px;
  
}

.items {
  height: 67%;
  overflow: hidden;
}

.container {
  background: white;
  height: 700px;
  min-width: 280px;
  border-radius: 10px;
}

.formContainer {
  display:flex;
  flex-direction: column;
  height: 67%;
  justify-content: space-between;
  padding: 25px;
}



.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}
